<router-outlet></router-outlet>
<body class="cuerpo">
  <div class="container">
  <mat-toolbar class="barra" color="warn">
    <img src="../../assets/logo.png" id="logo" width="60" height="60">
    <span class="titulo">Mystery F</span>
    <img src="../../assets/ojos.png" id="ojos" width="50" height="45">
    <span class="ds">ds</span>
    <span class="spacer"></span>
    <button mat-button class="inicio-css">Inicio</button>
    <button mat-button class="caracteristicas-css">Características</button>
    <button mat-button class="testimonios-css">Testimonios</button>
    <button mat-button class="contactanos-css">Contáctanos</button>
  </mat-toolbar>

  <div>
  <mat-grid-list cols="2" rowHeight="450px" gutterSize="20px">
  <mat-grid-tile>
    <h1 class="Titulo-css"> Mystery</h1>
    <h1 class="Boxes-css"> Boxes</h1>
    <p class="Descripcion-css"> La aplicación web donde encontrarás productos</p>
    <p class="Descripcion2-css"> alimenticios a un cómodo precio</p>
  </mat-grid-tile>
  <mat-grid-tile>
  <img src="../../assets/mysterybox.png" id="mysterybox" width="500" height="400">
  </mat-grid-tile>
  </mat-grid-list>
  </div>

  <button mat-button class="botonSesion">Iniciar Sesión</button>
  <button mat-button class="botonRegistrar">Registrar</button>

  <mat-card class="example-card-embutidos">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image-embutidos"></div>
      <mat-card-title>MYSTERY BOX EMBUTIDOS</mat-card-title>
      <mat-card-subtitle>3 - 5 productos</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image class="embutidos" src="../../assets/embutidos.png" alt="Photo of Embutidos">
    <mat-card-content>
      <p class="descripcion-embutidos-css">
        ¡Presentamos nuestra Mystery Box de Embutidos! Nuestros supermercados afiliados han seleccionado cuidadosamente entre 3 y 5 productos que estén pronto a vencer, pero a un menor precio. Cada uno de los productos está fresco y listo para consumir. ¿Qué esperas? ¡Haz de tu próxima cena una experiencia emocionante con nuestra Mystery Box de Embutidos!
      </p>
    </mat-card-content>
  </mat-card>

  <mat-card class="example-card-lacteos">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image-lacteos"></div>
      <mat-card-title>MYSTERY BOX LACTEOS</mat-card-title>
      <mat-card-subtitle>3 - 5 productos</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image class="embutidos" src="../../assets/lacteos.jpg" alt="Photo of Lacteos">
    <mat-card-content>
      <p class="descripcion-lacteos-css">
        The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
        A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
        bred for hunting.
      </p>
    </mat-card-content>
  </mat-card>

  <mat-card class="example-card-lacteos">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image-lacteos"></div>
      <mat-card-title>MYSTERY BOX LACTEOS</mat-card-title>
      <mat-card-subtitle>3 - 5 productos</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image class="embutidos" src="../../assets/lacteos.jpg" alt="Photo of Lacteos">
    <mat-card-content>
      <p class="descripcion-lacteos-css">
        ¡Descubre una selección sorpresa de productos lácteos de alta calidad a un precio increíble en nuestra Mystery Box de lácteos! Esta caja incluye de 3 a 5 productos seleccionados de nuestra sección de lácteos que están próximos a su fecha de vencimiento, siendo perfectamente seguros para consumir. ¡Experimenta nuevos sabores a un precio asequible gracias a nuestra Mystery Box de lácteos!
      </p>
    </mat-card-content>
  </mat-card>

  <mat-card class="example-card-legumbres">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image-legumbres"></div>
      <mat-card-title>MYSTERY BOX LEGUMBRES</mat-card-title>
      <mat-card-subtitle>4 - 8 productos</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image class="legumbres" src="../../assets/legumbres.png" alt="Photo of Legumbres">
    <mat-card-content>
      <p class="descripcion-legumbres-css">
        ¡Explora una nutritiva variedad de legumbres a un precio increíble con nuestra Mystery Box de legumbres! Esta caja contiene de 4 a 8 productos de legumbres que están cerca a vencer, pero que aún son seguros y saludables para comer. Descubre nuevas formas de incorporar proteínas y fibra a tus comidas favoritas y experimenta con diferentes tipos de legumbres gracias a nuestra Mystery Box de legumbres.      </p>
    </mat-card-content>
  </mat-card>

  <mat-card class="example-card-postres">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image-postres"></div>
      <mat-card-title>MYSTERY BOX POSTRES</mat-card-title>
      <mat-card-subtitle>2 - 3 productos</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image class="postres" src="../../assets/postres.jpg" alt="Photo of Postres">
    <mat-card-content>
      <p class="descripcion-postres-css">
        ¿Listo para descubrir nuevos sabores con nuestra Mystery Box de postres? Disfruta de 2 a 3 deliciosos productos de postres de alta calidad, seleccionados por supermercados de renombre, a un precio irresistible. ¿Qué sorpresas te esperan en cada caja? ¡No lo sabrás hasta que la abras! Pero lo que sí sabemos es que cada postre es fresco, delicioso y está listo para ser disfrutado.    </mat-card-content>
  </mat-card>

  <mat-card class="example-card-verduras">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image-verduras"></div>
      <mat-card-title>MYSTERY BOX VERDURAS</mat-card-title>
      <mat-card-subtitle>3 - 5 productos</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image class="verduras" src="../../assets/verduras.png" alt="Photo of Verduras">
    <mat-card-content>
      <p class="descripcion-verduras-css">
        ¡Descubre la emoción de la Mystery Box de verduras! Obtén una selección de 3 a 5 productos de verduras de alta calidad a un precio increíblemente reducido. Cada caja contiene una variedad de verduras frescas y sabrosas que están a punto de vencer, pero aún son perfectamente comestibles y saludables. ¡Es la manera perfecta de ahorrar dinero en tus compras y experimentar con nuevos ingredientes en tus comidas!    </mat-card-content>
  </mat-card>

  <mat-card class="example-card-frutas">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image-frutas"></div>
      <mat-card-title>MYSTERY BOX FRUTAS</mat-card-title>
      <mat-card-subtitle>3 - 5 productos</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image class="frutas" src="../../assets/frutas.png" alt="Photo of Frutas">
    <mat-card-content>
      <p class="descripcion-frutas-css">
        ¡Prueba la emoción de la Mystery Box de frutas! Obtén una selección de 3 a 5 productos de frutas frescas y deliciosas a un precio increíblemente reducido. Cada caja contiene una variedad de frutas que están a punto de vencer, pero aún están perfectamente comestibles y llenas de sabor y nutrientes. ¡Es la manera perfecta de ahorrar dinero en tus compras y experimentar con nuevos sabores y texturas en tus comidas!    </mat-card-content>
  </mat-card>
  <br><br><br><br>

  <h1 class="titulo-lista">Lista de Mystery Boxes</h1>

  <table mat-table [dataSource]="boxArreglo" class="mat-elevation-z8 demo-table">
    <!-- ID Column -->
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef>ID</th>
      <td mat-cell *matCellDef="let box">{{box.id}}</td>
    </ng-container>

    <!-- Nombre Column -->
    <ng-container matColumnDef="nombre">
      <th mat-header-cell *matHeaderCellDef>Nombre</th>
      <td mat-cell *matCellDef="let box">{{box.nombre}}</td>
    </ng-container>

    <!-- Descripcion Column -->
    <ng-container matColumnDef="descripcion">
      <th mat-header-cell *matHeaderCellDef>Descripcion</th>
      <td mat-cell *matCellDef="let box">{{box.descripcion}}</td>
    </ng-container>

    <!-- Fecha Column -->
    <ng-container matColumnDef="fecha">
      <th mat-header-cell *matHeaderCellDef>Fecha</th>
      <td mat-cell *matCellDef="let box">{{box.fecha}}</td>
    </ng-container>

    <!-- Estrellas Column -->
    <ng-container matColumnDef="estrellas">
     <th mat-header-cell *matHeaderCellDef>Estrellas</th>
      <td mat-cell *matCellDef="let box">{{box.estrellas}}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr
        mat-row
        (click)="clickedRows.add(row)"
        [class.demo-row-is-clicked]="clickedRows.has(row)"
        *matRowDef="let row; columns: displayedColumns;"
    ></tr>
    <tr *ngFor = "let box of boxArreglo"></tr>
  </table>

  <div class="card mt-4">
    <div class="card-body">
    </div>
    <br>
    <div class="form-group">
      <mat-form-field>
        <mat-label>Nombre</mat-label>
        <input matInput type="text" [(ngModel)]= "boxSeleccionado.nombre" placeholder="Ingrese nombre">
      </mat-form-field>
    </div>

      <div class="form-group">
        <mat-form-field>
          <mat-label>Descripcion</mat-label>
          <input matInput type="text" [(ngModel)]= "boxSeleccionado.descripcion" placeholder="Ingrese descripcion">
        </mat-form-field>
      </div>
      <div class="form-group">
        <mat-form-field>
          <mat-label>Fecha de vencimiento</mat-label>
          <input matInput type="text" [(ngModel)]= "boxSeleccionado.fecha" placeholder="Ingrese fecha de vencimiento">
        </mat-form-field>
      </div>

        <div class="form-group">
          <mat-form-field>
            <mat-label>Estrellas</mat-label>
            <input matInput type="text" [(ngModel)]= "boxSeleccionado.estrellas" placeholder="Ingrese estrellas">
          </mat-form-field>
        </div>

        <br>
      <button (click)="grabarBox()" class ="btn-primary">
        Grabar
      </button>
      <button
      *ngIf="boxSeleccionado.id!==0"
      class = "btn btn-danger"
      (click) = "limpiarBox()">
        Borrar
      </button>

      <br><br><br>
  </div>

